body {
    margin: 0;
}

header {
    background-color: #fff;
    padding: 1em;
    border-bottom: 3px solid #bbb;
}

header h1 {
    margin-top: 0;
}

header p {
    font-style: italic;
    margin-bottom: 0;
}

main {
    width: 700px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    text-align: left;
    vertical-align: top;
    background-color: #fff;
    padding: .5em 1em;
    border-bottom: 1px dotted #ddd;
}

table thead th {
    border-bottom: 3px solid #ddd;
}

form.destroy {
    text-align: center;
    margin: 1em 0;
}

form.destroy input {
    width: 120px;
    height: 40px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f00;
    color: #fff;
}
