body {
    margin: 0;
    font-size: 16px;
}

header,
footer {
    background-color: #fff;
    padding: 1em;
}

header p,
footer p {
    font-style: italic;
    margin-bottom: 0;
}

header {
    border-bottom: 3px solid #bbb;
}

header h1 {
    margin-top: 0;
}

footer {
    border-top: 3px solid #bbb;
}

main {
    width: 700px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    text-align: left;
    vertical-align: top;
    background-color: #fff;
    padding: .5em 1em;
    border-bottom: 1px dotted #ddd;
}

table thead th {
    border-bottom: 3px solid #ddd;
}

form {
    overflow: auto;
}

form > div {
    margin: 1em 0;
}

body#destroy form {
    text-align: center;
    margin: 1em 0;
}

body#destroy form input[type="submit"] {
    width: 120px;
    height: 40px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f00;
    color: #fff;
}

body#bottom-sticky main section.item-2 {
    background-color: #00f;
}

body#bottom-sticky main .keepinsight-clone {
    background-color: #f00;
}
